@media (max-width: 959px) {
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
.page-title {
  color: inherit;
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
/* Fix border color in submenu items */
#portal-globalnav ul.submenu > li > a:hover {
  box-shadow: inset 3px 0 0 #F7931E !important;
}
.navbar-brand strong,
.footer-brand strong {
  color: #ff8228;
  font-weight: 600;
}
.section a {
  color: #ff8228;
}
aside.page-aside .box.leading-large a:nth-last-of-type(1) {
  color: #ff8228;
}
#site-header {
  background-image: url('../img/bg-header-south.jpg');
}
@media (min-width: 960px) {
  .template-homepage #site-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 1500%!important;
  }
}
#site-header {
  background-position: 100%;
  background-size: cover;
}
.template-homepage #navbar {
  background: rgba(255, 255, 255, 0.8);
}
#site-header .actionMenu.activated {
  background-color: #f38709;
  border-radius: 0;
  box-shadow: 0px 2px 1px #aaa;
}
#site-header .actionMenu.activated .actionMenuHeader {
  padding-left: 1.6rem;
}
#site-header .actionMenu .actionMenuContent {
  padding-left: 0;
  padding-right: 0;
  background-color: #f38709;
  box-shadow: 0px 2px 1px #aaa;
}
.btn-default {
  border-color: #ff7c29;
}
.login-link:before {
  color: #ff7c29;
}
#site-footer .portlet a {
  border-color: #ff7c29 !important;
}
@media (min-width: 960px) {
  #portal-globalnav ul.submenu {
    border-top: solid #ff8228;
  }
  #portal-globalnav > li:hover {
    background: #ff8228;
  }
  #portal-globalnav > li:hover > a {
    color: white !important;
  }
  #portal-globalnav .selected .plain {
    color: #ff8228;
  }
}
@media (max-width: 959px) {
  #portal-globalnav > li > a {
    color: #ff8228;
  }
}
.admin {
  background: #ff8228;
}
.admin .admin .page-container #edit-bar {
  border-style: solid solid solid solid;
  border-radius: 0 !important;
}
.admin #contentActionMenus dl.actionMenu.activated dd a:hover,
.admin #contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
  background: inherit!important;
}
.admin .admin .page-container #edit-bar #contentActionMenus {
  float: none;
}
.admin .admin .page-container #edit-bar #content-views a {
  border-radius: 3px;
}
.admin #edit-bar {
  color: white;
  background: #ff8228;
  border-color: #ff8228 !important;
}
.admin #edit-bar * {
  background: #ff8228;
  border-color: #ff8228 !important;
}
.admin #edit-bar a {
  color: inherit!important;
}
.admin #edit-bar .contentViews#content-views a:hover {
  color: #ff8228 !important;
}
.admin #edit-bar .selected a {
  color: #ff8228 !important;
}
.admin #contentActionMenus dl.actionMenu a,
.admin #contentActionMenus dl.actionMenu.activated dd {
  background: #ff8228;
  color: white;
}
.admin ul {
  padding: 0;
}
.admin ul:first-of-type li:first-of-type a {
  padding-left: 0;
}
.page-header {
  border-color: #ff8228 !important;
}
.south-subtitle {
  display: none!important;
}
#site-header {
  background-position: 100% 10%;
}
.userrole-anonymous #navbar {
  border-bottom-color: #F7931E;
}
.tab-content thead {
  background: #ff8228;
  color: white;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent!important;
  color: white!important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ff8228 !important;
  background: transparent!important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #ff8228 !important;
}
.tab-pane th {
  vertical-align: middle;
}
.homepage-news thead th {
  background-color: #F7931E;
  color: #fff;
}
.homepage-news tbody tr {
  border-top-color: #F7931E;
}
.homepage-news tbody td:first-child {
  color: #F7931E;
}
.homepage-news a {
  color: #F7931E;
}
.aow-national-work-plans {
  background-image: url('../img/img-south-national-work-plans.jpg');
}
.aow-indicators-and-assessment {
  background-image: url('../img/img-south-indicators-and-assessment.jpg');
}
.aow-data-and-statistic {
  background-image: url('../img/img-south-data-and-statistics.jpg');
}
.aow-data-management-and-infrastructure {
  background-image: url('../img/img-south-data-management-and-infrastructure.jpg');
}
.level-national {
  color: #ff8228;
}
.level-regional {
  color: #205c90;
}
.event-title {
  color: #ff8228;
}
.site-banner {
  border-top: solid #ff8228;
}
/*# sourceMappingURL=./source.css.map */