@media (min-width: 1360px) {
}
@media (max-width: 1359px) {
}
@media (max-width: 639px) {
}
a {
  cursor: pointer;
}
#content a,
#content a:visited,
#content a:link,
dl.portlet a:link,
div.more a,
.section-frontpage-news .right .more a,
aside.page-aside .box.leading-large a:nth-last-of-type(1),
.section a {
  color: #009345;
  border-bottom: none;
}
#content a:hover,
#content a:visited:hover,
#content a:link:hover,
dl.portlet a:link:hover,
div.more a:hover,
.section-frontpage-news .right .more a:hover,
aside.page-aside .box.leading-large a:nth-last-of-type(1):hover,
.section a:hover {
  color: #1f87e8;
}
#content-core {
  font-size: 15px;
}
.color-green {
  color: #009245;
}
.text-center {
  text-align: center;
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
.page-title {
  color: inherit;
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
input[type='submit'] {
  background: #009345 !important;
  color: #FFFFFF;
  padding: 0.2em 0.5em;
  border: none;
}
input[type='submit']:hover {
  background: #1f87e8 !important;
}
.navbar-brand strong,
.footer-brand strong {
  color: #009345;
  font-weight: 600;
}
.navbar-brand p {
  color: #737373;
}
@media (min-width: 960px) {
  .template-homepage #site-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 127%!important;
  }
}
#site-header {
  background-image: none !important;
}
.template-homepage #navbar {
  background: rgba(255, 255, 255, 0.8);
}
.btn.event-register,
.register-form button,
a.back-button,
.btn-default.edit-text,
.btn-default {
  border-color: #009345;
}
.btn.event-register:hover,
.register-form button:hover,
a.back-button:hover,
.btn-default.edit-text:hover,
.btn-default:hover {
  background: #009345;
  color: white;
  box-shadow: none;
}
.meeting-items a.btn-default,
a.back-button,
.btn-default.edit-text,
.btn.event-register {
  color: #737373 !important;
  border-radius: 0;
  border-bottom: 2px solid #009345 !important;
  border: 2px solid #009345 !important;
}
.meeting-items a.btn-default:hover,
a.back-button:hover,
.btn-default.edit-text:hover,
.btn.event-register:hover {
  color: #FFFFFF !important;
}
a.back-button {
  position: relative;
  top: -5px;
}
.btn-default.edit-text {
  margin-bottom: 5px;
}
.register-form-fields label,
body.template-eea-meeting label,
.register-form-fields .label,
body.template-eea-meeting .label {
  font-weight: 500;
}
label,
.label,
#content dt {
  font-weight: 500;
}
.register-form button {
  color: #737373;
  border-radius: 0 !important;
  border: 2px solid #009345;
  margin-right: 10px;
}
@media (min-width: 960px) {
  #portal-globalnav ul.submenu {
    border-top: solid #FFFFFF;
  }
  #portal-globalnav > li:hover {
    background: #009345;
  }
  #portal-globalnav > li:hover > a {
    color: white !important;
  }
  #portal-globalnav .selected .plain {
    color: #009345;
  }
}
@media (max-width: 959px) {
  #portal-globalnav > li > a {
    color: #009345;
  }
}
.admin {
  background: #009345;
}
.admin #edit-bar {
  border-style: solid solid solid solid;
  border-radius: 0 !important;
  color: white;
  background: #009345;
  border-color: #009345 !important;
}
.admin #edit-bar * {
  background: #009345;
  border-color: #009345 !important;
}
.admin #edit-bar a {
  color: inherit!important;
}
.admin #edit-bar .contentViews#content-views a:hover {
  color: #009345 !important;
}
.admin #edit-bar .selected a {
  color: #009345 !important;
}
.admin #edit-bar #contentActionMenus {
  float: none;
}
.admin #edit-bar #contentActionMenus .actionMenuContent ul li a:hover {
  background: #FFFFFF !important;
}
.admin #edit-bar #contentActionMenus .actionMenuContent ul li a:hover span {
  color: #009345;
  background: #FFFFFF;
}
.admin #edit-bar #contentActionMenus .actionMenuContent ul li a span {
  padding-left: 5px;
  padding-right: 5px;
}
.admin #edit-bar #content-views a {
  border-radius: 0px;
}
.admin #edit-bar #contentActionMenus dl.actionMenu.activated dd a:hover,
.admin #edit-bar #contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
  background: #FFFFFF;
}
.admin #edit-bar #contentActionMenus dl.actionMenu.activated dd a:hover span,
.admin #edit-bar #contentActionMenus dl.actionMenu.activated dd .actionMenuSelected span {
  background: #FFFFFF;
  color: #009345 !important;
}
.admin #contentActionMenus dl.actionMenu a,
.admin #contentActionMenus dl.actionMenu.activated dd {
  background: #009345;
  color: white;
  border-radius: 0px;
}
.admin ul {
  padding: 0;
}
.admin ul:first-of-type li:first-of-type a {
  padding-left: 0;
}
.page-header {
  border-color: #009345 !important;
}
.east-subtitle {
  display: none!important;
}
#site-header {
  background-position: 100% 10%;
}
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav > li > a:hover,
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav > li > a:focus {
  background: #009345 !important;
  color: white !important;
}
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav-tabs > li > a {
  color: #009345 !important;
  border: 1px solid #ededed !important;
  border-radius: 0;
}
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav-tabs {
  border-bottom: 3px solid #009345;
}
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav-tabs > li.active > a,
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav-tabs > li.active > a:hover,
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav-tabs > li.active > a:focus {
  color: #FFFFFF !important;
  background: #009345 !important;
}
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav > li.active > a,
body:not(.template-country_view):not(.template-country_view_east):not(.template-countries_view_east) .nav > li > a:hover {
  border-color: #009345 !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #009345 !important;
}
#related-events .table-hover > thead {
  display: none;
}
#related-events .table-hover > tbody > tr.level-national:hover {
  background-color: #009345;
}
#related-events .table-hover > tbody > tr:hover {
  background-color: #1f87e8;
  color: #FFFFFF;
}
#project-related-events .table-hover thead,
#project-events .table-hover thead {
  display: none;
}
#project-related-events .table-hover th,
#project-events .table-hover th {
  color: #222222 !important;
}
#project-related-events .table-hover tr:hover,
#project-events .table-hover tr:hover {
  background: #1f87e8;
  color: #FFFFFF;
}
#project-related-events .table-hover tr:hover td.event-summary,
#project-events .table-hover tr:hover td.event-summary {
  color: #FFFFFF !important;
}
#project-related-events .table-hover tr:hover td a,
#project-events .table-hover tr:hover td a {
  color: #FFFFFF !important;
  text-decoration: none;
}
#project-related-events .table-hover tr td a,
#project-events .table-hover tr td a {
  color: #009345;
  text-decoration: none;
}
#project-related-events .table-hover td.event-link,
#project-events .table-hover td.event-link {
  min-width: 140px;
}
.tab-pane th {
  vertical-align: middle;
}
.homepage-news thead th {
  background-color: #1f87e8;
  color: #fff;
}
.homepage-news tbody tr {
  border-top-color: #009345;
}
.homepage-news tbody td:first-child {
  color: inherit;
}
.homepage-news a {
  color: #1f87e8;
}
.aow-national-work-plans {
  background-image: url('../img/img-east-national-work-plans.jpg');
}
.aow-indicators-and-assessment {
  background-image: url('../img/img-east-indicators-and-assessment.jpg');
}
.aow-data-and-statistic {
  background-image: url('../img/img-east-data-and-statistics.jpg');
}
.aow-data-management-and-infrastructure {
  background-image: url('../img/img-east-data-management-and-infrastructure.jpg');
}
.level-national {
  color: #009345;
}
.level-regional {
  color: #1f87e8;
}
.event-title {
  color: #009345;
}
.tab-content legend {
  float: right;
  position: relative;
  top: -55px;
}
.tab-content legend .fa.fa-circle.level-regional,
.tab-content legend .fa.fa-circle.level-national,
.tab-content legend .fa.fa-circle.other {
  font-size: 2em;
}
.tab-content legend span.level-national,
.tab-content legend span.level-regional {
  margin-right: 20px;
}
.tab-content legend span.level-national span,
.tab-content legend span.level-regional span,
.tab-content legend span.other span {
  position: relative;
  top: -4px;
}
.tab-content legend .fa:before {
  margin-right: .5rem;
}
.tab-content legend .level-national {
  padding-left: 0;
}
#site-footer .contact a {
  font-weight: 500;
  color: #222222;
}
#site-footer .contact a:hover {
  color: #009345;
}
#portal-breadcrumbs a {
  color: #222222;
}
#portal-breadcrumbs a:hover {
  color: #009345;
}
#breadcrumbs-current {
  color: #009345;
}
h1.eni-page-title,
.documentFirstHeading {
  color: #009345;
  border-bottom: 3px solid #1f87e8;
  padding: 0em 1em 0.2em 1em;
  display: inline-block;
  text-align: center;
}
.documentByLine {
  margin-bottom: 4em;
}
body.userrole-anonymous .documentFirstHeading {
  margin-bottom: 1em;
}
@media (max-width: 959px) {
  #site-header {
    background-repeat: no-repeat;
    background-position: 100% 100%!important;
  }
}
.portlet:before,
.portlet:after {
  content: "";
  display: table;
}
.portlet:after {
  clear: both;
}
.portlet img {
  max-width: 100%;
}
a.more-items {
  border-top: 1px solid #1f87e8;
  padding-left: 10px;
  padding-right: 0.5em;
  padding-top: 5px;
  text-transform: uppercase;
}
a.more-items:after {
  content: "\2192";
  position: relative;
  left: 0.5em;
  top: -1px;
}
.text-accent {
  color: #1f87e8;
}
body.template-atct_edit #content {
  text-align: left;
}
body.template-atct_edit #content > div:first-of-type {
  text-align: center;
}
body.template-news_listing_view .table-hover a:hover {
  color: #009345 !important;
}
div.managePortletsLink {
  border-radius: 0;
  background: #FFFFFF;
  width: 40%;
  float: left;
  border: 2px solid #009345;
}
div.managePortletsLink:hover {
  background: #009345;
}
div.managePortletsLink:hover a {
  color: #FFFFFF !important;
}
#viewlet-above-content-title .leadImage {
  display: none;
}
.template-homepage.userrole-authenticated #edit-bar {
  margin-top: 4rem;
}
#content-views li.selected a,
#content li.formTab a.selected,
#content-core li.formTab a.selected {
  font-weight: 500;
}
dl.portalMessage dt,
div > .admonition-title {
  font-weight: 500;
}
div.pagination.listingBar a {
  background: #FFFFFF;
  color: #009345;
  border: none;
}
div.pagination.listingBar a:hover {
  background: #FFFFFF;
  color: #1f87e8;
}
dl.portalMessage.info {
  border-color: #1f87e8;
  background-color: #FFFFFF;
}
dl.portalMessage.info dt {
  background-color: #1f87e8;
}
dl.portalMessage.error {
  border-color: #e02047;
  background-color: #FFFFFF;
}
dl.portalMessage.error dt {
  background-color: #e02047;
}
dl.portalMessage.error dd {
  background: #FFFFFF;
}
label {
  font-weight: 500;
}
a.btn.btn-default[data-diazo='manage-portlets'] {
  float: right;
  width: 100%;
}
:focus {
  outline: none;
}
.table.display-email > thead > tr > th {
  border-bottom: 1px solid #222222 !important;
}
body.template-news_listing_view table.table-responsive.table-hover h3 {
  font-weight: 500;
}
aside.page-aside .box.portlet.portletEvents img {
  float: left;
  width: 50px;
  margin-right: 5px;
  height: auto;
}
table#listing-table tr.draggable td:nth-child(3) img {
  display: none;
}
.knowledge-resources ul li span > img {
  max-width: 25px !important;
}
.named-image-widget.namedblobimage-field img {
  max-width: 100%;
  height: auto;
}
#content-core table.invisible {
  visibility: visible;
}
body.template-event_view div#viewlet-below-content-body,
body.template-newsitem_view div#viewlet-below-content-body,
body.template-document_view div#viewlet-below-content-body {
  display: none;
}
.hiddenStructure {
  display: none;
}
.userrole-anonymous #content-core dt {
  padding-bottom: 0px;
  /* fix Event view */
}
div.event-items table.table-responsive.table-hover img,
div.newsitem-items table.table-responsive.table-hover img,
div.document-items table.table-responsive.table-hover img,
div.event-items p,
div.newsitem-items p,
div.document-items p {
  display: none;
}
/* Single column design for Folder, Document, Folderish Document */
body.template-folder_description_view aside.page-aside,
body.template-folder_contents aside.page-aside,
body.portaltype-folder.template-historyview aside.page-aside,
body.portaltype-folder.template-manage-content-rules aside.page-aside,
body.portaltype-folder.template-sharing aside.page-aside,
body.portaltype-folder.template-cache-settings aside.page-aside,
body.portaltype-document.template-document_view aside.page-aside,
body.portaltype-document.template-sharing aside.page-aside,
body.portaltype-document.template-cache-settings aside.page-aside,
body.portaltype-folderish-document.template-document_view aside.page-aside,
body.portaltype-folderish-document.template-historyview aside.page-aside,
body.portaltype-folderish-document.template-manage-content-rules aside.page-aside,
body.portaltype-folderish-document.template-sharing aside.page-aside,
body.portaltype-folderish-document.template-cache-settings aside.page-aside {
  display: none;
}
body.template-folder_description_view main.page-main,
body.template-folder_contents main.page-main,
body.portaltype-folder.template-historyview main.page-main,
body.portaltype-folder.template-manage-content-rules main.page-main,
body.portaltype-folder.template-sharing main.page-main,
body.portaltype-folder.template-cache-settings main.page-main,
body.portaltype-document.template-document_view main.page-main,
body.portaltype-document.template-sharing main.page-main,
body.portaltype-document.template-cache-settings main.page-main,
body.portaltype-folderish-document.template-document_view main.page-main,
body.portaltype-folderish-document.template-historyview main.page-main,
body.portaltype-folderish-document.template-manage-content-rules main.page-main,
body.portaltype-folderish-document.template-sharing main.page-main,
body.portaltype-folderish-document.template-cache-settings main.page-main {
  width: 100%;
}
/*# sourceMappingURL=./source.css.map */