<!DOCTYPE html>
<html>
  <head>
    {{> partials/head }}
  </head>

  <body>
    <!-- Header -->
    {{> partials/header }}
    {{> partials/navbar }}
    {{> partials/sitebanner }}

    {{> partials/editbar }}

    <div class="clearfix"></div>
    <div data-diazo="homepage-section-aow-slider">eni aow slider</div>
    <div class="clearfix"></div>

    {{> partials/fp-objectives }}
    {{> partials/fp-countries }}

    <!-- <div data&#45;diazo="homepage&#45;areas&#45;of&#45;work">areas of work</div> -->
    <div data-diazo="homepage-section-governance-text">global objective text</div>
    <div data-diazo="homepage-section-partners-text">countries section</div>

    <div class="container">
      <div data-diazo="frontpage-news">news section</div>
    </div>

    <div class="container">
      <div data-diazo="frontpage-events">events section</div>
    </div>

    {{>partials/footer}}
    {{>partials/bottomjs}}

  </body>
</html>
