<!DOCTYPE html>
<html>
  <head>
    {{> partials/head }}
  </head>

<body>
  <!-- Header -->
  {{> partials/header }}
  {{> partials/navbar }}
  {{> partials/sitebanner }}


  <!-- Edit bar -->
  <div class="container">
    <div id="site-body">
      <div class="page">
        <header class="page-header">
          <div class="page-container">
          </div>
        </header>
        <div class="admin">
          <div class="page-container">
            <div id="edit-bar">Plone admin bar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit bar -->

  <div class="container site-container">
    <div class="page-body">
      <div class="page-container clear">

        <div class="above-content">
          <ul class="breadcrumbs">
            <li><a href="">Home</a></li>
            <li><a href="">Folder</a></li>
            <li><strong>This page</strong></li>
          </ul>
        </div>

        <main class="page-main"></main>

        <aside class="page-aside">

          {{> partials/pageaside }}
          {{> partials/treenav }}

          <a href="../@@manage-portlets" class="btn btn-default" data-diazo="manage-portlets">
            Manage portlets
          </a>

        </aside>

        <div class="section-partners-wrapper">
          <section class="section" data-diazo="section-partners"></section>
          <section class="section" data-diazo="section-countries-map"></section>
        </div>

      </div>
    </div>
  </div>

  {{>partials/footer}}
  {{>partials/bottomjs}}

</body>
</html>
