<!-- Header -->
<header id="site-header">

  <button id="navbar-toggle" class="btn btn-default" type="button" data-toggle="dropdown" data-target="#navbar">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div id="navbar">

    <div class="page-container">

      <div class="navbar-credits">
        <small>
          This project is funded<br> by the European Union
        </small>
        <a href="http://europa.eu/" title="European Union" target="_blank">
          <img src="./img/logo-eu.png" alt="European Union logo" />
        </a>
        <a href="http://eea.europa.eu" title="European Environment Agency" target="_blank">
          <img src="./img/logo-eea.png" alt="European Environment Agency logo" />
        </a>
      </div>

      <div class="navbar-brand">
        <div class="no-leading navbar-title">
          <a href="/south">ENI SEIS II <strong>South</strong></a>
        </div>
        <p class="no-leading">
          Implementation of the Shared Enviromental Information System
          (SEIS) principles and practices in the ENP <span
          class="south-subtitle">South</span><span class="east-subtitle">East</span> region
        </p>
      </div>

      <div class="navbar-body">
        <nav class="navbar-menu">
          <ul id="portal-globalnav">
          </ul>
        </nav>
      </div>

    </div>

  </div>

  <div class="site-banner">
    <div class="project-description">
      <div data-diazo="project-description">
        ...
      </div>
    </div>
    <div class="lp-content">
      <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; width: 100%} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}.embed-container small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style>
      <div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="ENI SEIS II East" src="//eea.maps.arcgis.com/apps/Embed/index.html?webmap=1272d9f0ff6a4394ac4f8801fa8be811&amp;extent=-50.0822,-18.423,61.7322,64.593&amp;home=true&amp;zoom=true&amp;scale=false&amp;disable_scroll=true&amp;theme=dark"></iframe></div>
    </div>
    <div class="lp-disclaimer">
      <small>Disclaimer: This cartographic representation is unofficial and for information purposes only.</small>
    </div>
  </div>

</header><!-- Header -->

