body.template-communication_and_visibility {
  .page-main {
    width: 100%;
  }

  .data-section-aow-slider.row {
     background: @color-gray-lighter;
  }

  #parent-fieldname-description {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4rem;
  }

  .section-frontpage-news {
    div.left {
      a {
        color: #FFFFFF !important;
        &:hover {
          color: black !important;
        }
      }
    }
  }

  .section-frontpage-events {
    .tile:hover > a {
      color: #FFFFFF !important;
    }
  }

  .row.no-portlets {
    h3 {
      text-transform: uppercase;
      color: @color-accent;
      border-bottom: 3px solid #08a8dc;
      display: inline-block;
      padding-right: 1em;
    }

    .knowledge-resources {
      padding-top: 4rem;

      ul {
        margin-left: 0 !important;
        list-style-type: none;
        list-style: none;
        li {
          list-style: none;
          padding: 0.5em 0 0.5em 0;
        }
      }
    }
  }
}
