body.template-country_view_east {
  .page-main {
    width: 100%;
  }

  .documentByLine,
  h1.documentFirstHeading {
    display: none !important;
  }

  @media @screen-md-max {
    .row.no-portlets {
      .country-header {
        margin-bottom: 0 !important;
      }
    }
  }
  .row.no-portlets {
    .country-header {
      margin-bottom: -3rem;

      .flag {
        margin-right: 20px;
      }

      .country-title {
        text-transform: uppercase;
        color: @color-orange;
      }
    }

    .country-content {
      ul.nav.nav-tabs {
        li.pull-right {
          margin-right: 0px;
          border: 1px solid @color-brand-east;
        }
      }

      .tab-content {
        margin-top: 2px;

        .col-nav-tabs {
          padding-left: 0px;
          padding-right: 0px;
        }

        table.environ-reports {
          tr > th > h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: #FFFFFF;
          }
        }

        .container-table-reports {
          padding-left: 0;
          padding-right: 0;
          > .row {
            padding-left: 0;
            padding-right: 0;
            .col-table-reports {
              padding-left: 0;
              padding-right: 0;
              table.table.reports {
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .row.no-portlets.jquery-move-me.country-news-row {
    background: @color-gray-lighter;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h3.section-title {
      color: @color-accent;
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 3px solid @color-accent;
      margin-bottom: 2rem;
      padding-right: 1rem;
    }

    .row.news-row {
      .col-lg-4 {
        padding-left: 0px;
      }
      .news-image {
        margin-right: 1rem;
      }
    }
  }

}
