body.template-countries_view_east {
  .page-main {
    width: 100%;
  }

  .documentByLine,
  .documentDescription,
  h1.documentFirstHeading {
    display: none !important;
  }

  .text-center {
    text-align: center;
    .eni-section-title {
      padding-left: 1em;
      font-weight: 500;
    }
  }

  div.countries-container {
    padding-top: 2em;

    .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px;
    }

    a.country-item {
      div.country-box {
        text-align: center;
        padding: 20px;
        border: 1px solid @color-gray-light;
        p.country-title {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 500;
          color: @color-gray-dark;
          margin-top: 20px;
          margin-bottom: 0px !important;
        }
      }

      &:hover {
        background: @color-accent;
        div.country-box {
          background: @color-accent;
          color: #FFFFFF;
          p.country-title {
            color: #FFFFFF;
          }
        }
      }
    }
  }

  div.country-visits-container {
    margin-top: 3em;
    div.country-visits-item {
      margin-bottom: 2em;
      h3 {
        font-weight: 500;
      }
    }
  }

  div.environmental-indicators-container {
    img {
      max-width: 100%;
    }
  }

  .row.container-table-reports {
    .nav.base > li > a:hover,
    .nav.base > li > a:focus {
      background: @color-brand-east !important;
      color: white !important;
    }
    .nav-tabs.base > li > a {
      color: @color-brand-east !important;
      border: 1px solid #ededed !important;
      border-radius: 0;
    }
    .nav-tabs.base {
      border-bottom: 3px solid @color-brand-east;
    }
    .nav-tabs.base > li.active > a,
    .nav-tabs.base > li.active > a:hover,
    .nav-tabs.base > li.active > a:focus {
      color: #FFFFFF !important;
      background: @color-brand-east !important;
    }

    .nav.base > li.active > a,
    .nav.base > li > a:hover {
      border-color: @color-brand-east !important;
    }
  }

  .col-nav-tabs {
    padding-left: 0px;
    padding-right: 0px;
    ul.nav.nav-tabs {
      background: @color-gray-lighter;
      li {
        min-height: 170px;
        a {
          border: none;
          text-align: center;

          .tab-title {
            background: @color-gray-light2;
            height: 80px;
            width: 80px;
            border: 5px solid transparent;
            box-shadow: 0 0 0 5px transparent;
            padding-top: 18px;
            font-size: 30px;
            font-weight: 600;
            color: #FFFFFF;
            border-radius: 50%;
          }

          .tab-description {
            text-transform: none;
            font-size: 12px;
            font-weight: 500;
            color: @color-gray-dark;
            margin-top: 10px;
          }
        }
        &.active {
          .tab-title {
            background: @color-brand-east;
            border: 5px solid #FFFFFF;
            box-shadow: 0 0 0 5px @color-brand-east;
          }

          .tab-description {
            color: @color-brand-east;
            max-width: 80px;
          }
        }
        &:hover {
          .tab-title {
            background: @color-accent;
            border: 5px solid #FFFFFF;
            box-shadow: 0 0 0 5px @color-accent;
          }

          .tab-description {
            color: @color-accent;
          }
        }
      }
    }
  }

  table.table-responsive.table-hover {
    tr.even:hover, tr.odd:hover {
      background: @color-accent;
      color: #FFFFFF;
      .fa {
        color: @color-gray-dark;
      }
      a {
        color: #FFFFFF !important;
      }
    }

    a {
      color: @color-accent;
      &:hover {
        color: #FFFFFF !important;
      }
    }

    th {
      border-bottom: 0px;
      border-right: 1px solid @color-gray-light2;

      .reports-number {
        text-align: center;
        font-size: 40px;
        margin-bottom: 0 !important;
      }

      h3 {
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0;
        margin-top: 20px;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    td {
      border-right: 1px solid @color-gray-light2;
      &:last-of-type {
        border-right: none;
        color: @color-accent;
      }
    }

    td, tr {
      border-top: none;
    }

    tbody tr {
      .odd {
        background: @color-gray-lighter;
      }
      &:last-of-type {
        border-bottom: 1px solid @color-gray-light2;
      }
    }
  }

  table.environ-reports {
    tr > th > h2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #FFFFFF;
    }
  }

  div.container-table-reports {
    padding-left: 0;
    padding-right: 0;

    > .row {
      padding-left: 0;
      padding-right: 0;

      .col-table-reports {
        padding-left: 0;
        padding-right: 0;

        table.table.reports {
          padding-left: 0;
          padding-right: 0;

          thead {
            h2 {
              position: relative;
              top: -20px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }

}
