body.template-folder_gallery_view {
  #portal-globalnav {
    z-index: 9999;  // just under lighbox when fullscreen (10000)
  }

  div#lightbox {
    .lb-outerContainer {
      border-radius: initial;
    }

    .lb-image {
      border: 10px solid #FFFFFF;
    }

    .lb-caption {
      font-weight: 500;  // bold is ugly
      font-size: 1.3em;
    }

    .lb-number {
      position: relative;
      top: 3px;
    }
  }

  div.photo-gallery {
    div.photo-item {
      text-align: center;
      a {
        &:hover img {
          border-color: @color-brand-east;
        }

        img {
          border: 2px solid @color-gray-light;
          padding: 10px;
          margin-bottom: 0.5em;
          max-height: 300px;
          width: auto;
          max-width: 320px;
        }
      }

      p.photo-credits {
        position: relative;
        top: -90px;
        color: white;

        span {
          background-color: rgba(40,40,40,0.7);
          padding: 5px;
          font-family: "Fira Sans", sans-serif;
          font-size: 12.75px;
        }
      }
    }
  }
}
