body.section-indicators.subsection-indicators-search {
  div#faceted-form {
    div#center-and-left-area {
      width: 75%;
      padding-right: 20px;

      div#center-content-area {
        margin-right: 0px;
      }

      div.faceted-widget.section-indicators-search {
        background: green;

        fieldset {
          margin: 0;
          padding: 0;
          border: none;
        }

        legend {
          color: white;
          text-transform: uppercase;
        }
      }

      div#faceted-results {
        div.tileItem {
          padding: 7px;

          a.tileImage {
            float: left;
            margin-right: 20px;

            img {
              width: 55px;
              min-width: 55px !important;
              max-width: 55px !important;
              height: auto !important;
            }
          }
        }
      }
    }

    div#right-area {
      width: 25%;
      fieldset {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
}
