body.section-indicators.subsection-indicators-search {
  div#faceted-form {
    div#center-and-left-area {
      width: 75%;
      padding-right: 20px;

      div#center-content-area {
        margin-right: 0px;
      }

      div.faceted-widget.section-indicators-search {
        background: @color-brand-east;
        padding: 20px 30px 20px 0px;

        &:after {
          content: '';
          position: relative;
          top: 39px;
          right: ~"calc(-100% + 67px)";
          border-top: 120px solid transparent;
          border-right: 100px solid white;
        }

        fieldset {
          margin: 0;
          padding: 0px 0px 0px 7px;
          border: none;
        }

        legend {
          color: white;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 500;
          padding: 0;
        }

        input[type="text"] {
          padding: 5px;
          border-color: white;
          margin-right: -4px;
          width: 60%;
        }

        input[type="submit"] {
          background: @color-accent !important;
          color: white;
          padding: 6px 40px;
          border: 1px solid white;

          &:hover {
            background: @color-brand-east !important;
          }
        }
      }

      div#faceted-results {
        div.tileItem {
          padding: 7px;

          a.tileImage {
            float: left;
            margin-right: 20px;

            img {
              width: 55px;
              min-width: 55px !important;
              max-width: 55px !important;
              height: auto !important;
            }
          }
        }
      }
    }

    div#right-area {
      width: 25%;
      fieldset {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
}
