body.template-indicators_and_assessments {
  .container.site-container {
    min-height: 0 !important;
    margin-bottom: -4rem;
  }

  table.invisible {
    visibility: initial;
  }

  @media @screen-md-max {
    .container-fluid.moved-video-section {
      background: @color-gray-lighter !important;
    }

    .knowledge-resources {
      padding-top: 8rem !important;
    }
  }

  .container-fluid.moved-video-section {
    background: @color-gray-lighter; /* Old browsers */
    background: -moz-linear-gradient(60deg,  @color-brand-east 50%, @color-gray-lighter 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(60deg,  @color-brand-east 50%, @color-gray-lighter 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(60deg,  @color-brand-east 50%, @color-gray-lighter 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    margin-bottom: 2rem;
    .row {
      float: none;
    }

    .video-container {
      position: relative;
      top: 70px;
    }
  }

  .row.no-portlets.jquery-move-me {
    padding-bottom: 2rem;
    float: none;
    .row {
      float: none;
    }
  }

  .page-main {
    width: 100%;
  }

  #parent-fieldname-description {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4rem;
  }

  .row.no-portlets {
    h3 {
      text-transform: uppercase;
      color: @color-accent;
      border-bottom: 3px solid #08a8dc;
      display: inline-block;
      padding-right: 1em;
    }

    a {
      color: @color-brand-east;
      &:hover {
        color: @color-accent !important;
      }
    }

    .knowledge-resources {
      padding-top: 4rem;
      clear: both;

      .row .col-lg-12 {
        padding-left: 1px;
      }

      ul {
        margin-left: 0 !important;
        padding-left: 0;
        list-style-type: none;
        list-style: none;
        li {
          display: block;
          list-style: none;
          padding: 0.5em 0 0.5em 0;
          color: @color-brand-east;
          font-size: 120%;

          a {
            color: @color-brand-east;
          }
        }
      }
    }
  }
}
