body.section-indicators.subsection-indicators-search {
  @media only screen and (max-width: 700px) {
    div.faceted-widget.section-indicators-search:after {
      display: none;
    }

    div#center-and-left-area {
      width: 100% !important;
    }

    div#right-area {
      width: 100% !important;
    }
  }

  div.faceted-widget.section-filters {
    border-bottom: 1px solid @color-gray-dark;

    form {
      display: none !important;
    }

    legend {
      text-transform: uppercase;
    }
  }

  div#faceted-form {
    div#center-and-left-area {
      width: 75%;
      padding-right: 20px;

      div#center-content-area {
        margin-right: 0px;
      }

      div.faceted-widget.section-indicators-search {
        background: @color-brand-east;
        padding: 30px 30px 15px 0px;

        // Yee! Look at me. (fancy green)
        width: 150%;
        padding-left: 50%;
        position: relative;
        left: -50%;
        // ---

        &:after {
          content: '';
          position: relative;
          top: 33px;
          right: ~"calc(-100% + 69px)";
          border-top: 143px solid transparent;
          border-right: 100px solid white;
        }

        fieldset {
          margin: 0;
          padding: 0px 0px 0px 7px;
          border: none;
        }

        legend {
          color: white;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 500;
          padding: 0;
        }

        form {
          margin-top: 5px;

          input[type="text"] {
            padding: 7px;
            margin-right: -4px;
            width: 60%;
            border: 2px solid white;

            &::placeholder {
              color: @color-gray-light2;
              font-style: italic;
              padding-left: 10px;
            }
          }

          input[type="submit"] {
            background: @color-accent !important;
            color: white;
            padding: 8px 40px;
            border: 1px solid white;

            &:hover {
              background: @color-brand-east !important;
            }
          }
        }
      }

      div#faceted-results {
        margin-top: 10px;

        div.tileContent {
          h2.tileHeadline a {
            color: @color-gray-dark;
            font-weight: 500;
            position: relative;
            top: 2px;
            left: -75px;

            &:hover {
              color: @color-brand-east;
            }
          }
        }

        div.tileItem {
          padding: 7px;
          border-bottom: 1px solid #d4d4d4;
          margin-bottom: 1.7em;
          padding-bottom: 1.7em;
          padding-left: 75px;

          a.tileImage {
            float: left;
            margin-right: 20px;

            img {
              width: 55px;
              min-width: 55px !important;
              max-width: 55px !important;
              height: auto !important;
              position: relative;
              left: -75px;
            }
          }

          a.moreLink {
            font-style: italic;
          }

          p.tileFooter {
            margin-bottom: 5px;
          }
        }
      }
    }

    div#right-area {
      padding-left: 10px;
      width: 25%;

      ul.tags-cloud {
        width: 100% !important;

        li {
          color: @color-accent !important;

          &:hover {
            color: @color-brand-east !important;
          }
        }
      }

      div.faceted-widget {
        padding-top: 20px;
      }

      div.faceted-widget.section-current-search,
      div.faceted-widget.section-tags,
      div.faceted-widget.section-theme {
        padding-bottom: 30px;
        border-bottom: 1px solid #d4d4d4;
      }

      div.faceted-widget.section-published-on {
        div#c5_start {
          width: 48%;
          margin-left: 0px;
          float: left;
        }

        div#c5_end {
          width: 48%;
          float: right;
        }

        input {
          width: 100% !important;
          padding: 5px;
        }
      }

      fieldset {
        margin: 10px 0px 0px 0px;
        padding: 0;
        border: none;

        legend {
          margin-left: 0px;
          padding: 0px 0px 0px 0px;
          font-size: 1.2em;
          font-weight: 500;
        }

        select {
          padding: 7px 10px 7px 10px;
          background: white;
        }
      }
    }
  }
}
