body.template-seea-progress_root {
  img.lead-img {
    max-width: 90%;
    height: auto;
    float: left;
  }

  .vertical-align {
    display: flex !important;
    align-items: center;
  }

  div.seea-progress-section1 {
    overflow: auto;
  }

  div.seea-progress-section2 {
    margin: 4em 0;
  }

  table.seea-table {
    border-bottom: 2px solid green;
    td.ml-2 {
      padding-left: 30px !important;
    }

    td.title {
      color: green;
      font-size: 1.5em;
    }

    td.title2 {
      background: green;
      color: white;
      font-size: 1.2em;
    }

    th {
      background: green;
      color: white;
      text-align: center;
    }

    tr.odd td {
      background: gray;
    }

    td {
      border-top: none !important;
      text-align: center;
    }

    td:first-of-type {
      text-align: left;
    }

    th, td {
      border-right: 1px solid gray;
    }

    th:last-of-type,
    td:last-of-type {
      border-right: none;
    }

    tr:not(.no-hover):hover td {
      background: blue;
      color: white;
    }
  }
}
