body.template-seea-progress_root {
  img.lead-img {
    max-width: 90%;
    height: auto;
    float: left;
  }

  .vertical-align {
    display: flex !important;
    align-items: center;
  }

  div.seea-progress-section1 {
    overflow: auto;
  }

  div.seea-progress-section2 {
    margin: 4em 0;
  }

  td.ml-2 {
    padding-left: 30px !important;
  }

  table.seea-table {
    border-bottom: 2px solid green;
  }

  table.seea-table td.title {
    color: green;
    font-size: 1.5em;
  }

  table.seea-table td.title2 {
    background: green;
    color: white;
    font-size: 1.2em;
  }

  table.seea-table th {
    background: green;
    color: white;
  }

  table.seea-table tr.odd td {
    background: gray;
  }

  table.seea-table td {
    border-top: none !important;
    text-align: center;
  }

  table.seea-table th {
    text-align: center;
  }

  table.seea-table td:first-of-type {
    text-align: left;
  }

  table.seea-table th,
  table.seea-table td {
    border-right: 1px solid gray;
  }

  table.seea-table th:last-of-type,
  table.seea-table td:last-of-type {
    border-right: none;
  }

  table.seea-table tr:not(.no-hover):hover td {
    background: blue;
    color: white;
  }
}
