div#testimonials-container {
  div.fullsize-row {
    width: 200%;
    position: relative;
    left: -50%;
    padding-top: 6em;
    padding-bottom: 6em;

    background: @color-brand-east;
    margin-top: 2em;
    margin-bottom: 4em;

    div.main-quote {
      width: 30%;
      margin: 0 auto;
      padding: 50px 50px 20px 50px;
      color: white;
      font-size: 1.5em;
      line-height: 1.2em;
      position: relative;

      hr {
        width: 60px;
        margin: 0 auto 1em auto;
      }

      p.author {
        font-style: italic;
      font-size: 0.9em;
      }
    }

    div.main-quote:before {
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      top: -5px;
      left: -5px;
      border-top: 5px solid white;
      border-left: 5px solid white;
    }

    div.main-quote:after {
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: -5px;
      right: -5px;
      border-bottom: 5px solid white;
      border-right: 5px solid white;
    }
  }

  div.simple-quote {
    margin-bottom: 4em;

    div.img-circle-cropper {
      float: left;
      border: 5px solid #FFFFFF;
      box-shadow: 0 0 0 3px #FFFFFF;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%
    }

    img.author-img {
      width: 100px;
      height: auto;
      float: left;
    }

    div.text {
      text-align: left;
      padding-left: 110px;
    }

    p.author {
      font-style: italic;
    }
  }

  div.row-fullwidth-gray {
    background: gray;
    width: 150%;
    position: relative;
    left: -25%;
    padding-left: 25%;
    padding-right: 25%;
    overflow: auto;

    div.row.row-no-img {
      background: transparent;
      div.text {
        padding-left: 0px;
      }
    }
  }
}
