  @import (reference) "main.less";
@color-green: #009245;
@color-accent: #009245;
@color-brand-east: #009245;
.btn-primary {
    .btn-variant(#fff, #009245, #009245);
}

.page-title {
    color: inherit;
}

.btn-primary {
    border-color: #009245;
    color: #fff;
    background-color: #009245
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #009245
}

.btn-primary:active,
.btn-primary.active {
    position: relative;
}

.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
    color: rgba(255, 255, 255, 0.5);
    background: #0f8346;
    box-shadow: none
}

.navbar-brand strong,
.footer-brand strong {
    color: @color-brand-east;
        font-weight: 600;
}


#site-header {
  background-image: url('../img/bg-header-east.jpg');
  
}
.template-homepage #site-header {
  background-position: 100% -54%;
}


/* Fix state published label to be visible on green editor bar */

.admin span.state-published {
    color: #8CDA8C !important;
}

.section {
    a {
        color: @color-brand-east;
    }
}

aside.page-aside .box.leading-large a:nth-last-of-type(1) {
    color: @color-brand-east;
}

#site-header .actionMenu.activated {
    background-color: #75ad0a;
    border-radius: 0;
    box-shadow: 0px 2px 1px #aaa;
}

#site-header .actionMenu.activated .actionMenuHeader {
    padding-left: 1.6rem;
}

#site-header .actionMenu .actionMenuContent {
    padding-left: 0;
    padding-right: 0;
    background-color: #75ad0a;
    box-shadow: 0px 2px 1px #aaa;
}

.btn-default {
    border-color: @color-green;
}

.login-link:before {
    color: @color-green;
}

#site-footer {
    .portlet {
        a {
            border-color: @color-green !important;
        }
    }
}

#portal-globalnav {
    @media @screen-md {
        ul.submenu {
            border-top: solid @color-brand-east;
        }
        > li:hover {
            background: @color-brand-east;
            > a {
                color: white !important;
            }
        }
        .selected {
            .plain {
                color: @color-brand-east;
                &:hover {}
            }
        }
    }
}

@media @screen-md-upto {
    #portal-globalnav > li > a {
        color: @color-brand-east;
    }
}

.south-subtitle {
    display: none;
}

.tab-content {
  thead {
    background: @color-brand-east;
    color: white;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
 background: transparent!important;
 color: white!important;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus { 
    color: @color-brand-east!important;
    background: transparent!important;

    }


    .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: @color-brand-east!important;
}


.tab-pane {
  table {
    th {
        vertical-align: middle;
    }
  }
}

.userrole-anonymous #navbar {
    border-bottom-color: @color-accent;
}

.homepage-news {
    thead {
        th {
            background-color: @color-accent;
            color: #fff;
        }
    }
    tbody {
        tr {
            border-top-color: @color-accent;
        }
        td:first-child {
            color: @color-accent;
        }
    }
    a {
        color: @color-accent;
    }
}

.aow-environmental-reporting {
    background-image: url('../img/img-east-environmental-reporting.jpg');
}
.aow-data-management-and-infrastructure {
    background-image: url('../img/img-east-data-management-and-infrastructure.jpg');
}
.aow-assessment {
    background-image: url('../img/img-east-assessment.jpg');
}
.aow-communication-and-visibility {
    background-image: url('../img/img-east-communication-and-visibility.jpg');
}


.level-national {
    color:@color-brand-east;
}

.level-regional {
    color: #205c90;
}

.event-title {
    color: @color-brand-east;
}
.site-banner {
        border-top: solid @color-brand-east;
}
