@import (reference) "main.less";
@color-yellow: #F7931E;
@color-accent: #F7931E;
@color-brand-south: #ff8228 !important;

.btn-primary {
    .btn-variant(#fff, #009245, #009245);
}


.page-title {
    color: inherit;
}

.btn-primary {
    border-color: #009245;
    color: #fff;
    background-color: #009245
}
.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #009245
}
.btn-primary:active, .btn-primary.active {
    position: relative
}
.btn-primary[disabled], .btn-primary.disabled, .btn-primary[disabled]:hover, .btn-primary.disabled:hover, .btn-primary[disabled]:focus, .btn-primary.disabled:focus, .btn-primary[disabled]:active, .btn-primary.disabled:active {
    color: rgba(255, 255, 255, 0.5);
    background: #0f8346;
    box-shadow: none
}



/* Fix border color in submenu items */
#portal-globalnav ul.submenu>li>a:hover {
    box-shadow: inset 3px 0 0 #F7931E !important;
}





.section {
    a {
        color: @color-brand-south;
    }
}


aside.page-aside .box.leading-large a:nth-last-of-type(1) {
    color: @color-brand-south;
}



// aside.page-aside .box.leading-large a:nth-last-of-type(1):hover {
//     background-color: #eee;
//     color: black;
//     -webkit-transition: background-color 500ms linear;
//     -moz-transition: background-color 500ms linear;
//     -o-transition: background-color 500ms linear;
//     -ms-transition: background-color 500ms linear;
//     transition: background-color 500ms linear, color 500ms linear;
// }



#site-header .actionMenu.activated {
    background-color: #f38709;
    border-radius: 0;
    box-shadow: 0px 2px 1px #aaa;
}
#site-header .actionMenu.activated .actionMenuHeader {
    padding-left: 1.6rem;
}
#site-header .actionMenu .actionMenuContent {
    padding-left: 0;
    padding-right: 0;
    background-color: #f38709;
    box-shadow: 0px 2px 1px #aaa;
}


.btn-default {
    border-color: @color-orange;
}
.login-link:before {
    color: @color-orange;
}
#site-footer {
    .portlet {
        a {
            border-color: @color-orange !important;
        }
    }
}
#portal-globalnav {
    @media @screen-md {
        ul.submenu {
            border-top: solid @color-brand-south;
            left: -1px !important;
        }
        > li:hover {
            background: @color-brand-south;

            > a {
                color: white !important;
            }
        }
        .selected {
            .plain {
                color: @color-brand-south;

                &:hover {
                }
            }
        }
    }
}