body.template-homepage {
  display: none;
}

#site-header .actionMenu .actionMenuContent a {
  color: white;
}

#site-header .actionMenu.activated .actionMenuHeader a {
  color: white;
}

#site-header .actionMenu.activated {
  z-index: 99;
}

#site-header {
  .navbar-brand {
    text-align: center;
  }
}

.actionMenu .actionMenuContent ul {
  padding-left: 0;
}

@media (max-width:959px) {
  .page-container #navbar-toggle {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.navbar-credits a:nth-last-child(1) img {
  height: 43px;
}

.fc-event-inner {
  color: white;
}

.nav-folder {
  margin-bottom: 2rem;
}

ul.configlets li {
  display: inline-block;
  padding: 1rem;
  width: 100%;
  white-space: nowrap;
}

ul.configlets {
  padding: 0;
}

.navbar-credits a {
  padding-right: 5px;
}

