body.template-newsletters_view  {
  aside.page-aside {
    display: none;
  }

  main.page-main {
    width: 100%;
  }
  div#newsletters-container {
    table.invisible {
      td {
        padding-left: 0;
      }
    }

    ul.newsletters {
      margin-left: 0;
      padding-left: 0;
      li {
        list-style: none;
        padding: 0.5em 0 0.5em 0;
        span {
          span.icon {
            position: relative;
            top: -4px;
            img {
              max-height: 30px;
              max-width: 30px;
            }
          }
          a {
            font-size: 120%;
          }
        }
      }
    }
  }
}
