.admin {
   * {
      box-sizing: content-box!important;
    }
  box-sizing: content-box!important;
  background: #75ad0a;

  @media (max-width: 568px)
  {
  	display: none;
  }
  #edit-bar {
    dl,ul,ol,p {
      margin-bottom: 0!important;
    }
    font-size: 1rem;
  }

  .contentViews#content-views {
    >li {
      >a {
        border-radius: 0;
      }
    }
  }



//Remove comments to make the admin bar white
// .admin .page-container #edit-bar {
//     border-style: solid solid solid solid;
//     border-radius: 0 !important;
// }
// .admin .page-container #edit-bar #contentActionMenus {
//     float: none;
// }
// .admin .page-container #edit-bar #content-views a {
//     border-radius: 3px;
// }
//   #edit-bar {
//   	color:black;
//   	background: white;
//   	border-color: white!important;
//   	*{
//   		background: white;
//   		border-color: white!important;
//   	}
//   	a {
//   		color: inherit!important;
//   	}
//   }

//   #contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
//   	background: white;
//   	color: black;
//   }
//   ul {
//     padding: 0;
//   }
//   ul:first-of-type{
//     li:first-of-type {
//       a{
//         padding-left:0;
//       }
//     }
//   }
}

 .template-homepage {

    .admin {
    margin-bottom: .5rem;
    }
    #edit-bar {
      margin-bottom: 0!important;
    }
  }
