.admin {
    * {
        box-sizing: content-box!important;
    }
    box-sizing: content-box!important;
    background: #75ad0a;
    @media (max-width: 568px) {
        display: none;
    }
    #edit-bar {
        dl,
        ul,
        ol,
        p {
            margin-bottom: 0!important;
            margin-top: -1px;
        }
        font-size: 1rem;
    }
    .contentViews#content-views {
        >li {
            >a {
                border-radius: 0;
            }
        }
    }
}

.template-homepage {
    #edit-bar {
        margin-bottom: 0!important;
    }
}
