.site-banner {
	background: white;
	   //  display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
        z-index: 1;
    position: relative;
.lp-content {
	height: auto;
	margin: auto;
}

.lp-title {
	margin-bottom: 1rem;
}

@media (max-width: 960px) {
	.lp-right-side {
		    position: absolute;
		    z-index: 1;
	}

	.lp-left-side {
		background: rgba(255,255,255,0.6);
		p {
			display: none;
		}
	}

}

}