#navbar {
    position: relative;
    // padding-top: @rem-h-large;
    padding-bottom: @rem-h-large;
    background-color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    .page-container {
        position: relative;
    }
}

.menu-item {
    position: relative;
}

.navbar-body {
    position: relative;
}

#navbar .navbar-credits {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-btn {
    display: inline-block;
    padding: @em;
    &:hover,
    &:focus {}
}

.navbar-credits {
    float: right;
    small,
    a {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        display: block;
    }
}

@media @screen-md {
    .navbar-brand {
        max-width: 551px;
        margin-bottom: @leading;
        h1 {
            width: 100%;
            overflow: hidden;
            margin-bottom: 0;
            font-size: 2.5rem;
        }
    }
    #navbar-toggle {
        display: none;
    }
    #navbar .page-container {
        position: relative;
    }
    .menu-items {
        .utils > .list-inline(0, 0, @vertical-align: baseline);
    }
    .menu-item {}
}

@media @screen-md-upto {
    .navbar-brand,
    #navbar-toggle {
        display: inline-block;
        vertical-align: middle;
    }
    .navbar-body {
        display: none;
        .open & {
            display: block;
        }
    }
}

#portal-globalnav {
    max-width: 551px;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 1rem;
    display: inline-block;
    margin-top: .5rem;
    border-top: solid #eee;
}

#portal-globalnav li {}

#portal-globalnav li a {
    border: 0;
    background: transparent;
    min-width: auto;
}

#portal-globalnav .submenu {
    .utils > .no-list;
}

#portal-globalnav {
    @media @screen-md-upto {
        li {
            float: none;
            display: block;
            a {
                border: 1px solid transparent;
                border-radius: @radius;
                display: block;
                padding: @em;
                color: inherit;
                width: auto!important;
                background: transparent;
            }
        }
        .plain {
            color: @color-emphasis;
            > a {
                color: inherit!important;
                background: transparent!important;
                &:hover {}
            }
        }
        .selected {
            > a {
                &,
                &:hover {
                    color: @color-body!important;
                    border-color: @color-soft!important;
                }
            }
        }
        ul.submenu {
            display: block;
            position: static;
            border: 0;
            background: #fff;
            margin-left: 1.5rem;
            li {
                float: none;
                a {
                    display: block;
                    color: inherit!important;
                    background: inherit!important;
                    padding: @em-small;
                    border-radius: @radius;
                    border: 1px solid transparent;
                }
            }
            .plain {
                a:hover {}
            }
            .selected a {
                &,
                &:hover {
                    color: @color-body!important;
                    border-color: @color-soft!important;
                }
            }
        }
    }
    @media @screen-md {


        > li {
            border: 1px solid transparent;
            // border-radius: @radius;
            margin-left: 1.5rem;
            > a {
                padding: @em;
                color: @color-blue;
                background: transparent!important;
                font-weight: 600;
            }
        }
        .plain {
            &:hover {
            }
        }
        .selected {
            .plain {
                &:hover {
                }
            }
        }
        ul.submenu {
            background: #fff!important;
            box-shadow: 0 1px 3px fade(#000, 20%);
            li {
                float: none;
                &:hover {
                    color: @color-body;
                    background: @color-softer;
                }
            }
            li a {
                color: @color-body!important;
                background: trasnparent!important;
                &:hover {
                    // box-shadow: inset 3px 0 0 @color-accent;
                    color: @color-green!important;
                }
            }
        }
    }
}

.submenu.navTree.navTreeLevel1:hover {
    ul {
        display: block;
    }
}

.navbar-body > ul {
    > li:first-of-type {
        margin-left: 0!important;
        a {
            padding-left: 0!important;
        }
    }
}

.site-eni-south .east-subtitle {
    display: none;
}

.site-eni-east .south-subtitle {
    display: none;
}