@media (min-width: 1360px) {
}
@media (max-width: 959px) {
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
.page-title {
  color: inherit;
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
.navbar-brand strong,
.footer-brand strong {
  color: #009245;
  font-weight: 600;
}
#site-header {
  background-image: url('../img/bg-header-east2.jpg') !important;
}
.template-homepage #site-header {
  background-position: 100% 5%;
}
/* Fix state published label to be visible on green editor bar */
.admin span.state-published {
  color: #8CDA8C !important;
}
.section a {
  color: #009245;
}
aside.page-aside .box.leading-large a:nth-last-of-type(1) {
  color: #009245;
}
#site-header .actionMenu.activated {
  background-color: #75ad0a;
  border-radius: 0;
  box-shadow: 0px 2px 1px #aaa;
}
#site-header .actionMenu.activated .actionMenuHeader {
  padding-left: 1.6rem;
}
#site-header .actionMenu .actionMenuContent {
  padding-left: 0;
  padding-right: 0;
  background-color: #75ad0a;
  box-shadow: 0px 2px 1px #aaa;
}
.btn-default {
  border-color: #009245;
}
.btn-default:hover {
  background: #009245;
  color: white;
  box-shadow: 1px 1px 3px #949494;
}
.login-link:before {
  color: #009245;
}
#site-footer .portlet a {
  border-color: #009245 !important;
}
@media (min-width: 960px) {
  #portal-globalnav ul.submenu {
    border-top: solid #009245;
  }
  #portal-globalnav > li:hover {
    background: #009245;
  }
  #portal-globalnav > li:hover > a {
    color: white !important;
  }
  #portal-globalnav .selected .plain {
    color: #009245;
  }
}
@media (max-width: 959px) {
  #portal-globalnav > li > a {
    color: #009245;
  }
}
.south-subtitle {
  display: none;
}
.tab-content thead {
  background: #009245;
  color: white;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent!important;
  color: white!important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #009245 !important;
  background: transparent!important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #009245 !important;
}
.tab-pane table th {
  vertical-align: middle;
}
.userrole-anonymous #navbar {
  border-bottom-color: #009245;
}
.homepage-news thead th {
  background-color: #009245;
  color: #fff;
}
.homepage-news tbody tr {
  border-top-color: #009245;
}
.homepage-news tbody td:first-child {
  color: inherit;
}
.homepage-news a {
  color: #009245;
}
.aow-environmental-reporting {
  background-image: url('../img/img-east-environmental-reporting.jpg');
}
.aow-data-management-and-infrastructure {
  background-image: url('../img/img-east-data-management-and-infrastructure.jpg');
}
.aow-assessment {
  background-image: url('../img/img-east-assessment.jpg');
}
.aow-communication-and-visibility {
  background-image: url('../img/img-east-communication-and-visibility.jpg');
}
.level-national {
  color: #009245;
}
.level-regional {
  color: #205c90;
}
.event-title {
  color: #009245;
}
.site-banner {
  border-top: solid #009245;
}
#breadcrumbs-current {
  color: #009245;
}
#portal-globalnav ul.submenu > li > a:hover {
  box-shadow: inset 3px 0 0 #009245;
}
.project-description {
  width: 37%;
  position: absolute;
  padding: 2rem;
  left: 0;
  z-index: 2;
  height: 100%;
}
@media (max-width: 959px) {
  .project-description {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    display: none;
  }
}
.project-description p {
  margin-top: 7rem;
  font-size: 22px;
}
@media (max-width: 959px) {
  #site-header {
    background-repeat: no-repeat;
    background-position: 100% 20%!important;
  }
}
/*# sourceMappingURL=./source.css.map */