@media (max-width: 959px) {
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
.page-title {
  color: inherit;
}
.btn-primary {
  border-color: #009245;
  color: #fff;
  background-color: #009245;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #009245;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
}
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background: #0f8346;
  box-shadow: none;
}
/* Fix border color in submenu items */
#portal-globalnav ul.submenu > li > a:hover {
  box-shadow: inset 3px 0 0 #F7931E !important;
}
.navbar-brand strong,
.footer-brand strong {
  color: #ff6b01;
  font-weight: 600;
}
.navbar-brand p {
  color: #737373;
}
.section a {
  color: #ff6b01;
}
aside.page-aside .box.leading-large a:nth-last-of-type(1) {
  color: #ff6b01;
}
@media (min-width: 960px) {
  .template-homepage #site-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 127%!important;
  }
}
#site-header {
  background-position: 100%;
  background-size: cover;
}
.template-homepage #navbar {
  background: rgba(255, 255, 255, 0.8);
}
#site-header .actionMenu.activated {
  background-color: #f38709;
  border-radius: 0;
  box-shadow: 0px 2px 1px #aaa;
}
#site-header .actionMenu.activated .actionMenuHeader {
  padding-left: 1.6rem;
}
#site-header .actionMenu .actionMenuContent {
  padding-left: 0;
  padding-right: 0;
  background-color: #f38709;
  box-shadow: 0px 2px 1px #aaa;
}
.btn-default {
  border-color: #ff6b01;
}
.btn-default:hover {
  background: #ff6b01;
  color: white;
  box-shadow: 1px 1px 3px #949494;
}
@media (min-width: 960px) {
  #portal-globalnav ul.submenu {
    border-top: solid #ff6b01;
  }
  #portal-globalnav > li:hover {
    background: #ff6b01;
  }
  #portal-globalnav > li:hover > a {
    color: white !important;
  }
  #portal-globalnav .selected .plain {
    color: #ff6b01;
  }
}
@media (max-width: 959px) {
  #portal-globalnav > li > a {
    color: #ff6b01;
  }
}
.admin {
  background: #ff6b01;
}
.admin .admin .page-container #edit-bar {
  border-style: solid solid solid solid;
  border-radius: 0 !important;
}
.admin #contentActionMenus dl.actionMenu.activated dd a:hover,
.admin #contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
  background: inherit!important;
}
.admin .admin .page-container #edit-bar #contentActionMenus {
  float: none;
}
.admin .admin .page-container #edit-bar #content-views a {
  border-radius: 3px;
}
.admin #edit-bar {
  color: white;
  background: #ff6b01;
  border-color: #ff6b01 !important;
}
.admin #edit-bar * {
  background: #ff6b01;
  border-color: #ff6b01 !important;
}
.admin #edit-bar a {
  color: inherit!important;
}
.admin #edit-bar .contentViews#content-views a:hover {
  color: #ff6b01 !important;
}
.admin #edit-bar .selected a {
  color: #ff6b01 !important;
}
.admin #contentActionMenus dl.actionMenu a,
.admin #contentActionMenus dl.actionMenu.activated dd {
  background: #ff6b01;
  color: white;
}
.admin ul {
  padding: 0;
}
.admin ul:first-of-type li:first-of-type a {
  padding-left: 0;
}
.page-header {
  border-color: #ff6b01 !important;
}
.south-subtitle {
  display: none!important;
}
#site-header {
  background-position: 100% 10%;
}
body:not(.template-country_view) .nav > li > a:hover,
body:not(.template-country_view) .nav > li > a:focus {
  background: #ff6b01 !important;
  color: white !important;
}
body:not(.template-country_view) .nav-tabs > li > a {
  color: #ff6b01 !important;
  border: 1px solid #ededed !important;
  border-radius: 0;
}
body:not(.template-country_view) .nav-tabs {
  border-bottom: 3px solid #ff6b01;
}
body:not(.template-country_view) .nav-tabs > li.active > a,
body:not(.template-country_view) .nav-tabs > li.active > a:hover,
body:not(.template-country_view) .nav-tabs > li.active > a:focus {
  color: #FFFFFF !important;
  background: #ff6b01 !important;
}
body.template-country_view .nav > li {
  margin-right: 10px;
  position: relative;
  top: 1px;
}
body.template-country_view .nav > li > a:hover,
body.template-country_view .nav > li > a:focus {
  background: #08a8dc !important;
  color: white !important;
}
body.template-country_view .nav-tabs > li > a {
  color: #222222 !important;
  border: 1px solid #ededed !important;
  border-radius: 0;
  text-transform: none;
  font-weight: 500;
}
body.template-country_view .nav-tabs {
  border-bottom: 1px solid #ededed;
}
body.template-country_view .nav-tabs > li.active > a,
body.template-country_view .nav-tabs > li.active > a:hover,
body.template-country_view .nav-tabs > li.active > a:focus {
  color: #ff6b01 !important;
  background: #FBFBFB !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: #ff6b01 !important;
}
.table-hover > tbody > tr.level-national:hover {
  background-color: #ff6b01;
}
.tab-pane th {
  vertical-align: middle;
}
.homepage-news thead th {
  background-color: #08a8dc;
  color: #fff;
}
.homepage-news tbody tr {
  border-top-color: #ff6b01;
}
.homepage-news tbody td:first-child {
  color: inherit;
}
.homepage-news a {
  color: #08a8dc;
}
.aow-national-work-plans {
  background-image: url('../img/img-south-national-work-plans.jpg');
}
.aow-indicators-and-assessment {
  background-image: url('../img/img-south-indicators-and-assessment.jpg');
}
.aow-data-and-statistic {
  background-image: url('../img/img-south-data-and-statistics.jpg');
}
.aow-data-management-and-infrastructure {
  background-image: url('../img/img-south-data-management-and-infrastructure.jpg');
}
.level-national {
  color: #ff6b01;
}
.level-regional {
  color: #08a8dc;
}
.event-title {
  color: #ff6b01;
}
.site-banner {
  border-top: solid #ff6b01;
}
#site-footer .contact a {
  font-weight: 500;
  color: #222222;
}
#site-footer .contact a:hover {
  color: #ff6b01;
}
#portal-breadcrumbs a {
  color: #222222;
}
#portal-breadcrumbs a:hover {
  color: #ff6b01;
}
#breadcrumbs-current {
  color: #ff6b01;
}
.documentFirstHeading {
  color: #ff6b01;
  border-bottom: 3px solid #08a8dc;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  display: inline-block;
}
.project-description {
  width: 37%;
  position: absolute;
  padding: 2rem;
  left: 0;
  z-index: 2;
  height: 100%;
}
@media (max-width: 959px) {
  .project-description {
    width: 100%;
    margin: 0;
    display: none;
  }
}
.project-description p {
  margin-top: 7rem;
  font-size: 22px;
}
@media (max-width: 959px) {
  #site-header {
    background-repeat: no-repeat;
    background-position: 100% 100%!important;
  }
}
#site-footer {
  color: #FFFFFF;
}
#site-footer .row.footer-content-wrapper {
  background: linear-gradient(60deg, #fbfbfb 0%, #fbfbfb 28%, #737373 28%, #737373 67%, #ff6b01 67%, #ff6b01 100%);
}
#site-footer .container-fluid {
  background: -webkit-linear-gradient(left, #FBFBFB, #FBFBFB 50%, #ff6b01 50%, #ff6b01);
  min-height: 250px;
  color: #FFFFFF;
  overflow: auto;
}
#site-footer .col-left {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 230px;
  color: #222222;
}
#site-footer .col-middle {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 250px;
  color: #FFFFFF;
}
#site-footer .col-right {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 250px;
  color: #FFFFFF;
}
body.template-country_view .country-left-column .box.leading-large.portlet dt {
  background: #FFFFFF;
  text-transform: uppercase;
  color: #08a8dc;
  border-bottom: 3px solid #08a8dc;
  font-size: 1.2rem;
  padding: 0px 10px 0px 0px !important;
  display: inline-block;
  margin-top: 20px !important;
}
body.template-country_view .country-left-column .box.leading-large.portlet dd {
  margin-top: 10px !important;
  font-size: 1.2rem;
}
body.template-country_view .country-left-column .box.leading-large.portlet dd div:before {
  content: url('http://i.imgur.com/i2Aakch.png');
  float: left;
  margin-right: 10px;
}
body.template-country_view .country-left-column .box.leading-large.portlet dd div:first-of-type {
  border-top: none;
}
body.template-country_view .country-left-column .box.leading-large.portlet dd div {
  padding-top: 20px;
  border-top: 1px solid #ededed;
}
body.template-country_view .country-left-column .box.leading-large.portlet dd .portletItemDetails {
  margin-left: 0px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body.template-country_view .country-left-column a {
  color: #ff6b01 !important;
  text-decoration: none !important;
  border-bottom: none !important;
}
body.template-country_view .tab-content .container {
  padding: 20px 10px 20px 10px;
  background-color: #FBFBFB;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  position: relative;
  top: -14px;
  overflow: auto;
}
body.template-country_view .tab-content .container img {
  width: 100%;
}
body.template-country_view .tab-content .container .country-subsection-listing div {
  padding-bottom: 50px;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul {
  margin-left: 0 !important;
  padding-left: 0;
  width: 120%;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul li {
  margin-bottom: 0px !important;
  padding: 10px 5px 10px 5px;
  list-style: none;
  border-bottom: 1px solid #ededed;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul li .fa {
  color: #A3A3A3;
  margin-right: 5px;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul li a {
  color: #222222 !important;
  font-weight: 500;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul li a:hover {
  background: #ededed;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul li:hover {
  background: #ededed;
}
body.template-country_view .tab-content .container .country-subsection-listing div ul li:last-of-type {
  border-bottom: none;
}
body.template-country_view .tab-content .container .country-subsection-listing a.more-items {
  border-top: 1px solid #08a8dc;
  color: #ff6b01 !important;
  padding-left: 10px;
  padding-top: 5px;
  text-transform: uppercase;
}
body.template-country_view .tab-content .container .country-subsection-listing h4 {
  text-transform: uppercase;
  color: #08a8dc;
  border-bottom: 3px solid #08a8dc;
}
.text-accent {
  color: #08a8dc;
}
body.template-atct_edit #content {
  text-align: initial;
}
body.template-atct_edit #content > div:first-of-type {
  text-align: center;
}
#site-header .login-link {
  color: #222222;
}
@media (max-width: 959px) {
  #site-header .login-link {
    margin-top: 1rem;
  }
}
#site-header .login-link:hover {
  color: #ff6b01 !important;
}
/*# sourceMappingURL=./source.css.map */