@btn-padding-v: .2em;
@btn-padding-h: .3em;
@btn-padding: @btn-padding-v @btn-padding-h;
@btn-radius: .2em;
@btn-weight: 500;
@btn-border-width: 1px;
@btn-min-width: 5rem;

.btn-variant(@color, @bg-1, @bg-2) {
  color: @color;
  background-color: @bg-2;
  // background-image: linear-gradient(@bg-1, @bg-2);
  background-repeat: no-repeat;
  background-position: center top;
  // background-size: 100% 100%;
  // box-shadow: 0 3px 0 @bg-1,
              // 0 3px 5px fade(#000, 25%);
  text-shadow: 0 -1px 0 @bg-1;

  &:hover,
  &:focus {
    color: @color;
    // background-size: 100% 0;
  }

  &:active,
  &.active {
    position: relative;
  }

  &[disabled],
  &.disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: fade(@color, 50%);
      background: desaturate(@bg-1, 20%);
      box-shadow: none;
    }
  }
}

.btn {
  vertical-align: middle;
  display: inline-block;
  padding: @btn-padding;
  border: 0 solid transparent;
  border-radius: @btn-radius;
  background: transparent;
  font-weight: @btn-weight;
  text-align: center;
  transition: background .1s,
              color .1s;
}

.btn-apply {
  .btn-variant(#fff, #16b15b, #21c374);
  max-width: 100%;
  width: 15rem;
}

// .btn-outline {
//   box-shadow: none;
//   text-shadow: none;
//   color: inherit;
// }

// .no-btn {
//   padding: 0;
//   border: 0;
//   background: transparent;
//   text-shadow: inherit;
// }

// .btn-inline {
//   .no-btn;
// }

// .btn-fake {
//   border-color: transparent;
//   color: inherit;
//   &:hover,
//   &:focus {
//     color: @color-anchor-hover;
//   }
// }

// .btn-anchor {
//   border-color: transparent;
//   color: @color-anchor;
//   &:hover,
//   &:focus {
//     color: @color-anchor-hover;
//   }
// }
