
.fieldTextFormat {
	margin-right: 0;
}

// .field:nth-child(2n) {
// 	background: fade(@color-green,10%);
// }

.field {
	background: fade(@color-green,5%);
}

.ploneSkin .mceIframeContainer {
	background: white;
}

.field {
    padding: 1.5rem;
    border-radius: .5rem;
label{
	font-size: 1.1rem;
	margin-bottom: .3rem;
	line-height: 1.5;
}
}