.event-date {
    float: left;
    margin-right: 1rem;
    display: inline-block;
    padding: @rem-x-small;
    border: 1px solid @color-soft;
    border-radius: @radius;
    text-align: center;
    font-size: @smaller;
    min-width: 4em;
}

.event-month,
.event-day,
.event-year {
    display: block;
    line-height: 1;
}

.event-month {
    text-transform: uppercase;
}

.event-day {
    font-size: 200%;
}

.event-title {
    .snippet & {
        font-weight: normal;
        margin-bottom: 0;
    }
}

.event-body {
    .snippet & {
        overflow: hidden;
    }
}

.eventDetails {
    @media @screen-md {
        display: flex;
        align-items: center;
        float: left;
        width: 38%!important;
    }
    float: none;
    margin: 0 0 1em 0!important;
    display: inline-block;
    @media (max-width: 960px) {
        width: 100%;
    }
}

.eventDetails.vcard {
    font-size: larger;
    border-color: transparent!important;
    border: none!important;
    table {
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 1px 1px 7px #c1c1c1;
        border-color: #CCCCCC;
        border-style: solid;
        border-width: 0.08em;
    }
}

.event #parent-fieldname-text {
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 1px #eee, -1px -1px 1px #eee;
    clear: both;
    box-shadow: 1px 1px 7px #c1c1c1;
    border-radius: 6px;
    @media (max-width: 960px) {
        margin-right: 0;
        max-width: 100%;
    }
}

.event {
    ul {
        padding-left: 0;
        list-style: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    li {
        padding: .3rem;
    }
}

.geolocation_wrapper {
    box-shadow: 1px 1px 7px #c1c1c1;
    border-radius: 6px;
    @media @screen-md {
        width: 60%;
        float: right;
        margin-bottom: 1rem;
    }
}
