<div class="container">
  <div id="site-body">
    <div class="page">
      <header class="page-header">
        <div class="page-container">
        </div>
      </header>
      <div class="admin">
        <div class="page-container">
          <div id="edit-bar">Plone admin bar</div>
        </div>
      </div>
    </div>
  </div>
</div>
