<!-- Countries -->
<div class="container-fluid section-frontpage-countries">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>Countries</h3>
      <p>
      <a href="#">Algeria</a>,
      <a href="#">Egipt</a>,
      <a href="#">Israel</a>,
      <a href="#">Jordan</a>, <br />
      <a href="#">Lebanon</a>,
      <a href="#">Libya</a>,
      <a href="#">Morocco</a>,
      <a href="#">Palestine</a> <br />and
      <a href="#">Tunisia</a>
      </p>
    </div>
  </div>
</div><!-- Countries -->
