<div class="container-fluid section-frontpage-countries">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>Countries</h3>
      <p>
      <a href="http://eni-seis.eionet.europa.eu/south/countries/algeria">Algeria</a>,
      <a href="http://eni-seis.eionet.europa.eu/south/countries/egypt">Egipt</a>,
      <a href="http://eni-seis.eionet.europa.eu/south/countries/israel">Israel</a>,
      <a href="http://eni-seis.eionet.europa.eu/south/countries/jordan">Jordan</a>, <br />
      <a href="http://eni-seis.eionet.europa.eu/south/countries/lebanon">Lebanon</a>,
      <a href="http://eni-seis.eionet.europa.eu/south/countries/libya">Libya</a>,
      <a href="http://eni-seis.eionet.europa.eu/south/countries/morocco">Morocco</a>,
      <a href="http://eni-seis.eionet.europa.eu/south/countries/palestine">Palestine</a> <br />and
      <a href="http://eni-seis.eionet.europa.eu/south/countries/tunisia">Tunisia</a>
      </p>
    </div>
  </div>
</div>
