<div class="container-fluid section-frontpage-objectives">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="global">
        <h3>
          <img src="./++theme++eni.seis.theme.south/img/homepage_objectives_global.svg" />
          The Global Objective
        </h3>
        <p>Contribute to reduced marine pollution</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="specific">
        <h3>
          <img src="./++theme++eni.seis.theme.south/img/homepage_objectives_specific.svg" />
          The Specific Objective
        </h3>
        <p>Improve the availability and access to relevant environmental information to the benefit of effective and knlowledge-based policy-making in the ENP South region.</p>
      </div>
    </div>
  </div>
</div>
