<div class="box newsletter-box leading-large"></div>

<div class="box leading-large">
  <h4>Leaflet</h4>
  <div class="media">
    <img src="" alt="" />
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi.</p>
  <a href="">Download</a>
</div>

<div class="box leading-large">
  <h4>Links</h4>
  <ul>
    <li><a href="#">Lorem ipsum</a></li>
    <li><a href="#">Conserctur adipskcul</a></li>
    <li><a href="#">Lorem ipsum</a></li>
    <li><a href="#">Conserctur adip</a></li>
  </ul>
</div>
