<div class="container-fluid">
  <div class="site-banner">
    <div class="project-description">
      <div data-diazo="project-description">
        ...
      </div>
    </div>
    <div class="lp-content">
      <style></style>
      <div class="embed-container">
        <iframe
           width="500"
           height="400"
           frameborder="0"
           scrolling="no"
           marginheight="0"
           marginwidth="0"
           title="ENI SEIS II South"
           src="//eea.maps.arcgis.com/apps/Embed/index.html?webmap=23d5b4908ee440c6923e2f69a265d2c9&amp;extent=-21.9339,16.7253,54.5749,53.2025&amp;zoom=false&amp;previewImage=false&amp;scale=false&amp;disable_scroll=false&amp;theme=light">
        </iframe>
<!-- -68.0837,-58.4261,61.7308,64.5944 -->
    </div>
    <div class="lp-disclaimer">
      <small>Disclaimer: This cartographic representation is unofficial and for information purposes only.</small>
    </div>
  </div>

</div>
