<footer id="site-footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row footer-content-wrapper">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-left">
          <div class="footer-brand">
            <div class="site-title-footer no-leading">ENI SEIS II <strong>East</strong></div>
          </div>
          <div class="contact">
            <p>
              <a href="https://www.eea.europa.eu/" target="_blank">
                European Environment Agency (EEA)
              </a>
              <br />
              <span>Kongens Nytorv 6</span>
              <br />
              <span>1050 Copenhagen K, Denmark</span>
              <br />
              <span>Phone: +45 3336 7100</span><br />
            </p>
            <p>
              <small>
                2016 ENI SEIS II. All rights reserved
                | <a href="https://www.eea.europa.eu/legal/" target="_blank">Legal notice</a>
                <span data-diazo="login-link"></span>
              <small>
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-middle">
          <div class="navbar-credits">
            <div class="pull-left">
              <a href="https://www.europa.eu/" title="European Union">
                <img src="./img/EU-logo-black-white.png" alt="European Union logo" />
              </a>
              <small> This project is funded by the European Union </small>
            </div>
            <div class="pull-left">
              <a href="https://www.eea.europa.eu" title="European Environment Agency">
                <img src="./img/eea-logo.png" alt="European Environment Agency logo" />
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-right">
          <div class="box leading-large portlet portletStaticText portlet-static-newsletter">
            <h3>Newsletter</h3>
            <p>Subscribe to our newsletter to be up to date with the project implementation.</p>
            <p>
            <a class="btn btn-subscribe" href="https://confirmsubscription.com/h/d/E382DF620E205C3D">
              <i class="fa fa-envelope"></i> Subscribe
            </a>
            </p>
            <span class="portletBottomLeft"></span>
            <span class="portletBottomRight"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
