<div class="container-fluid section-frontpage-countries">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>Countries</h3>
      <p>
        <a href="http://eni-seis.eionet.europa.eu/east/countries/armenia">Armenia</a>,
        <a href="http://eni-seis.eionet.europa.eu/east/countries/azerbaijan">Azerbaijan</a>,
        <a href="http://eni-seis.eionet.europa.eu/east/countries/belarus">Belarus</a>, <br />
        <a href="http://eni-seis.eionet.europa.eu/east/countries/georgia">Georgia</a>,
        <a href="http://eni-seis.eionet.europa.eu/east/countries/moldova">Moldova</a>,
        <a href="http://eni-seis.eionet.europa.eu/east/countries/ukraine">Ukraine</a>
      </p>
    </div>
  </div>
</div>
