<div class="container-fluid section-frontpage-objectives">

  <div class="global">
    <div class="wrapper">
      <h3>
        <img src="./++theme++eni.seis.theme.east/img/homepage_objectives_global.svg" />
        <span>CONTEXT</span>
      </h3>
      <p>This project is set in the context of the Eastern Partnership
      Initiative that aims to deepen the EU's relations with the six Eastern
      Partnership Countries, supporting the promotion of environmental
      protection by strengthening environmental governance.</p>
    </div>
  </div>

  <div class="splitter">
    <!-- variable splitting space -->
  </div>

  <div class="specific">
    <div class="wrapper">
      <h3>
        <img src="./++theme++eni.seis.theme.east/img/homepage_objectives_specific.svg" />
        <span>OBJECTIVE</span>
      </h3>
      <p>The main objective of the project is to continue to implement the
      principles and practices of the Shared Environmental Information System
      (SEIS).</p>
    </div>
  </div>

</div>
