<div class="container-fluid header-top">
  <div class="container">
    <header id="site-header-top">
      <div id="navbar-top">
        <div class="page-container">
          <div class="navbar-credits">
            <div class="eu-logo">
              <a href="https://europa.eu/" title="European Union" target="_blank">
                <img src="./img/logo-eu.png" alt="European Union logo" />
              </a>
              <p>This project is funded by the European Union</p>
            </div>
            <div class="eea-logo">
              <a href="https://eea.europa.eu" title="European Environment Agency" target="_blank">
                <img src="../logo-eea-horizontal.png" alt="European Environment Agency logo" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="container">
  <header id="site-header">
    <button id="navbar-toggle" class="btn btn-default" type="button" data-toggle="dropdown" data-target="#navbar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div id="navbar">
      <div class="page-container">
        <div class="navbar-brand">
          <div class="no-leading navbar-title">
            <a href="/east">ENI SEIS II <strong>East</strong></a>
          </div>
          <p class="no-leading">
            Implementation of the <span class="text-accent">Shared Enviromental Information System
            (SEIS)</span> principles and practices in the <span class="text-accent"> ENP East region</span>
          </p>
        </div>
      </div>
    </div>
  </header>
</div>
