<div class="container-fluid">
  <div class="site-banner">
    <div class="project-description">
      <div data-diazo="project-description">
        ...
      </div>
    </div>
    <div class="lp-content">
      <style></style>
      <div class="embed-container">
        <iframe
           width="500"
           height="400"
           frameborder="0"
           scrolling="no"
           marginheight="0"
           marginwidth="0"
           title="ENI SEIS II East"
           src="//eea.maps.arcgis.com/apps/Embed/index.html?webmap=23d5b4908ee440c6923e2f69a265d2c9&extent=-60.0,-60.0,60.0,60.0&home=false&zoom=false&scale=false&disable_scroll=false&theme=dark">
        </iframe>
<!-- -68.0837,-58.4261,61.7308,64.5944 -->
    </div>
    <div class="lp-disclaimer">
      <small>Disclaimer: This cartographic representation is unofficial and for information purposes only.</small>
    </div>
  </div>

</div>
