<nav class="nav nav-folder">
  <header class="nav-header">
    <h4 class="nav-title">Nav</h4>
  </header>
  <div class="nav-body">
    <div class="nav-group">
      <h5 class="nav-group-title">Navgroup title</h5>
      <ul class="nav-items">
        <li class="nav-item">
          <a href="">Nav item</a>
        </li>
        <li class="nav-item">
          <a href="">Nav item</a>
        </li>
        <li class="nav-item">
          <a href="">Nav item</a>
        </li>
      </ul>
    </div>
    <div class="nav-group">
      <h5 class="nav-group-title">Navgroup title</h5>
      <ul class="nav-items">
        <li class="nav-item">
          <a href="">Nav item</a>
        </li>
        <li class="nav-item">
          <a href="">Nav item</a>
          <ul class="nav-items">
            <li class="nav-item">
              <a href="">Nav item</a>
            </li>
            <li class="nav-item">
              <a href="">Nav item</a>
            </li>
            <li class="nav-item">
              <a href="">Nav item</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="">Nav item</a>
        </li>
        <li class="nav-item">
          <a href="">Nav item</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
